/******************
*Imported fonts
*******************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
/*******************************************************************************************************************************/
body{
	background-color: #a86f20;
	background-image: url(images/make-a-pancake.jpg);
	font-family: "Helvetica";
	color: white;
}

header{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 48pt;
}

h1{
	text-align: center;
	font-weight: 100;
	background-color: #0f6ea8;
	border: 5px solid #47b2f5;
	border-radius: 15px;
}

img{
	width: 720px;
	height: auto;
	margin-left: 200px;
	margin-right: 200px;
	border: 5px solid white;
	border-radius: 15px 5px;
}

.content{
	
	background-color: #0f6ea8;
	height: 480px;
	width: 720px;
	padding: 25px;
	color: white;
	font-size: 36pt;
	margin: 200px;
	border: 5px solid white;
	text-justify:inter-character;
	text-align: justify;
	border-radius: 15px 5px;
}

article{
	background-color: #f5ac47;
	padding: 50px 300px 50px 50px;
	width: 900px;
	margin: auto;
	align-content: center
}

section{
	margin-left: auto;
	margin-right: auto;
}

a{
	color: #0F6EA8;
}